<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-plugin-ble" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Ble</name>
    <js-module name="Ble" src="www/Ble.js">
        <clobbers target="Ble" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Ble">
                <param name="android-package" value="com.plugin.ble.Ble" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <!-- 6.0之后蓝牙还需要地理位置权限 -->
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
        </config-file>
        <source-file src="src/android/Ble.java" target-dir="src/com/plugin/ble/Ble" />
    </platform>
</plugin>